body {
    color: #252525;
}

.section {
    flex: 1;
    padding: 20px 10px;
}

.section header {
    display: flex;
}

.section h1 {
    font-size: 2.25em;
    flex-grow: 1;
    margin-right: 20px;
}

.main-container {
    display: flex;
}

.table {
    /* Remove spacing between table cells (from Normalize.css) */
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    margin-top: 25px;
}

.table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.table td,
.table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
    border-bottom: 1px solid #cbcbcb;
}

.table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.form input[type="text"],
.form input[type="checkbox"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="number"],
.form select, select {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
}

.form .radio {
    margin: 0.5em 0;
    display: block;
}

.form-aligned input,
.form-aligned textarea,
.form-aligned select, select,
.form-message-inline {
    display: inline-block;
    vertical-align: middle;
}

.form select, select:focus {
    outline: 0;
    border-color: #129FEA;
}

.form select, select[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

.form select, select {
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}

.form-aligned .control-group {
    margin-bottom: 0.5em;
}

.form-aligned .control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

.form-aligned .controls {
    margin: 0.7em 0 0 11em;
}

.input {
    width: 35%;
}

.button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.80);
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    margin-left: 5px;
}

.button-edit {
    color: #FFC107;
    border: none;
    background: none;
}
.button-delete {
    color: #dc3545;
    border: none;
    background: none;
}

.button-hover,
.button:hover,
.button:focus {
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

.button:focus {
    outline: 0;
}

.button-active,
.button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000;
}

.button-primary,
.button-selected,
a.button-primary,
a.button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.button-danger,
a.button-danger {
    background-color: #dc3545;
    color: #fff;
}

.button-analize {
    background-color: #e0e0e0;
    color: #000;
    font-size: 1.125em;
    padding: 15px 20px;
    border-radius: 4px;
    text-align: center;
}

.status-mantido {
    background: #ffeaa7;
}

.status-atualizado {
    background: #74b9ff;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.mg-checkbox {
    margin-left: 8px;
}

.separator-top {
    border-top: solid 1px #e0e0e0;
    margin-top: 25px;
}

.message-result {
    text-align: center;
}