.side-nav {
    background: #24292e;
    flex: 1;
    max-width: 250px;
    margin-right: 10px;
    min-height: calc(100vh - 61px);
}

.side-nav li a {
    display: block;
    color: #FFF;
    border-bottom: 2px solid #484848;
    font-size: 1.125em;
    padding: 20px;
}

.side-nav .active {
    background: #636e72;
}

.side-nav li:hover,
.side-nav li:active {
    background: #636e72;
}